* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
h1 {
    margin-left: 35px;
    color: white;
    text-align: center;
}
h2 {
    text-align: center;
    color: white;
}
main {
    padding-left: 250px;
    align-items: center;
}
body {
    margin: 0;
    background-color: white;
    color: black;
}
form {
    width: 737px;
    height: 439px;
    margin-left: 130px;
    background-color: #E5E5E5;
    border-style: none;
    align-self: center;
}
form input {
   width: 50%;
   border: none;
}
form label {
    font-weight: bold;
    font-size: 22px;
}
fieldset {
    border: none;
}
form textarea {
    width: 255px;
    height: 136px;
    margin-left: 220px;
    border: none;
}
footer {
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: #FF0000;
    font-family: 'Rokkitt', serif;
    font-size: 28px;
    text-align: center;
    color: white;
}
.title-box {
    display: inline-block;
    margin: 40px 250px; 
    width: 50%;
    padding: 10px; 
    border: 2px solid #FF0000;
    background-color: #FF0000;
    text-align: center;
    align-self: center; 
}
header .title-box {
    margin-left: 430px;
    margin-right: 0;
}
.nav1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 277px;
    background-color: #FF0000;
    font-size: 24px;
    float: left;
    overflow: hidden;
    z-index: 1;
}
.nav1 a {
    display: block;
    padding: 6px 8px 6px 16px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.nav1 a:hover {
    color: black;
}
.nav1 a:first-of-type {
    text-decoration: underline double;
}
.margin-nav {
    margin-top: 200px;
}
.nav-p {
    font-size: 16px;
}
.paragraph-space {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#img-home {
    padding-left: 100px;
    float: left;
}
#home-img-paragraph {
    display:inline-block;
    width: 342px;
    height: 124px;
    margin-top: 100px;
    margin-left: 80px;
    font-style: italic;
}
.center { /*primera aparicion*/
    text-align: center
}
.ul-box1 {
    margin: auto;
    padding-left: 150px;
    font-size: 32px;
    font-weight: bold;
}
.ul-box1 li {
    display: inline-block;
    width: 40%;
    padding: 10px 110px;
    list-style-type:none;
}
.func-img {
    width: 98.92px;
    height: 98.92px;
}
.ul-box2 { 
    margin: auto;
    padding-left: 150px;
    font-size: 24px;
}
.ul-box2 li {
    display: inline-block;
    width: 40%;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style-type: none;
}
.ul-box2 img {
    width: 70px;
    height: 80px;
}
.ul-box2 p {
    width: 350px;
    text-align: center;
    font-size: 15px;
}
#info-req {
    width: 737px;
    margin-left: 130px;
    margin-bottom: 0%;
    margin-right: 0;
}
.name-email input {
    position: relative;
    right: 140px;
    width: 255px;
    height: 33px;
    float: right;
}
.radio-text {
    font-size: 14px;
}
#contact-section input{
    padding-right: 60px;
}
#confirm-button {
  margin-left: 315px;
  width: 255px;
  height: 40px;
  background-color: #FF0000;
  border-color: #FF0000;
  border-style: none;
  font-size: 14px;
  color: white;
  overflow: hidden;
}
.history-box {
    width: 100%;
    margin: 0;
    padding-left: 60px;
    background-image: url("../assets/Picture-clock.png");
    background-color: white;
    background-position: bottom;
    background-size: cover;
}
.box-year {
    display: inline-block;
    width: 30%;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.year {
    font-family: 'Rokkitt', serif;
    font-size: 36px;
    vertical-align: top;
    color: black;
}
.history-p {
    height: 366px;
    padding: 10px;
    border: 1px solid rgb(3, 3, 3);
    background: rgba(0, 0, 0, 0.678);
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
}
.ul-box3 { 
    padding-left: 150px;
    margin-bottom: 100px;
    margin-top: 80px;
}
.ul-box3 ul {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
}
.ul-box3 li {
   width: 40%;
   padding: 0;
}
.ul-box3 h3 {
    font-size: 30px;
    color: #FF0000;
}
.ul-box3 li:first-child {
    list-style-type: none;
 }
#horizontal-ul ul li {
    display: inline;
    margin: 70px; 
    width: 53px;
}