h1 {
    color: white;
    text-align: center;
}
#h1-title {
    display: flex;
    justify-content: space-around;
}
.first-title-box {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 10%;
    text-align: center;
    border: 2px solid #FF0000;
    background-color: #FF0000;
}/* new code */
#login-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 20%;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 10%;
    text-align: center;
    background-color: #FF0000;
}
#login-header h1 {
    margin-left: 35%;
}
@media screen and (min-width: 1024px) {
.first-title-box { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 685px;
    height: 110px;
    margin-left: 29%;
    margin-right: 0;
    border-radius: 10px;
    }
}