form a {
    text-decoration: none;
    color: black;
}
#login-form {
    /* display: flex;
    flex-direction: row; 
    align-items: center;*/
    width: 50%;
    margin: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#login-title {
    text-align: center;
    margin-bottom: 20%;
    padding-top: 10%;
    font-size: 36px;
}
.login-form-fields {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.login-form-fields input {
    border-bottom: 2px solid red;
}
.login-p {
    font-size: 12px;
}
#form-check {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: 32%;
    margin-top: 5%;
}
#register-passforgoten {
    display: flex;
    margin:10%;
    justify-content: space-around;
}
#continue-button {
    margin-left: 18.5%;
    width: 255px;
    height: 40px;
    background-color: #FF0000;
    border-color: #FF0000;
    border-style: none;
    font-size: 14px;
    color: white;
}
form input {
    margin-left: 0%;
    width: auto;
}
.green-border {
    border: 3px solid green;
}
.red-border {
    border: 3px solid red;
}