* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {                   /*not working*/
    font-family: "roboto-italic";
    src: url(fonts\roboto-italic.ttf) format('truetype');
}
@font-face {    
    font-family: "roboto-bold";
    src: url(fonts\roboto-bold.ttf) format('truetype');
}
@font-face { 
    font-family: "roboto-medium";
    src: url(fonts\roboto-medium.ttf) format('truetype');
}
@font-face {
    font-family: "rokkit-medium";
    src: url(fonts\rokkitt-medium.ttf) format('truetype');
}
h1 {
    color: white;
    text-align: center;
    margin-left: 35px;
    font-family: "roboto-bold";
}
h2 {
    text-align: center;
    color: white;
}
.rectangle1 {
    border: 2px solid #FF0000;
    border-radius: 5%;
    background-color: #FF0000;
    text-align: center;
    align-self: center;
    display: inline-block;
    margin: 40px 250px; /*test*/
    width: 50%;
    padding: 10px;   
}
main {
    margin-left: 200px;
    align-items: center;
}
body {
    background-color: white;
    color: black;
    margin: 0;
    width: 100%;
}
.nav1 {
    position: fixed;
    float: left;
    height: 100%;
    width: 180px;
    font-family: "roboto-bold"; /*not working*/
    top: 0;
    left: 0;
    background-color: #FF0000;
    overflow: hidden;
    z-index: 1;
}
.nav1 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 24px;
    color: white;
    display: block;
}
.nav1 a:hover {
    color: black;
}
#nav-middle {
    margin-top: 130px;
}
#nav-bottom {
    margin-top: 130px;
}
#img-home {
    /*display: block;*/
    float: left;
    padding-left: 100px;
}
.paragraph-space {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#home-img-paragraph {
    overflow:auto;
    display:block;
    margin-top: 140px;
    padding-left: 150px;
    margin-bottom: 90px;
    width: 500px;
    font-family: "roboto-italic";
}
.rhombus {
    background: #FF0000;
    margin: auto;
    border: 1px solid #FF0000;
    width: 98.92px;
    height: 98.92px;
    transform: rotate(45deg);
}
.icon-rhombus {
    width: 98.92px;
    height: 98.92px;
    transform: rotate(-45deg);
}
#form-format {
    align-self: center;
}
#footer-format {
    background-color: #FF0000;
    text-align: center;
}

#horizontal-ul ul li {
    display: inline;
    margin: 30px; 
}
.center {
    text-align: center
}
.ul-box {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 320px;
}
.ul-box ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;   
}
.ul-box li {
    list-style-type:none;
    padding: 10px 60px;
}
form {
    width: 60%;
    margin: auto;
}
#box-history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 30px;
}
.box-year {
    border: 1px solid black;
   /* opacity: 20%;*/
    border-radius: 30px;
    width: 237.83px;
    height: 231.33px;
    text-align: center;
}
.year {
    font-family:rokkit-medium ;
    font-size: 36px;
}
.last-page-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}