.nav1 {
    position: fixed;
    top: 0; 
    display: inline-flex;
   /* left: 0;
   /* height: 100%;*/
    width: 100%;
    background-color: #FF0000;
    overflow: hidden;
    /*z-index: 1;*/
}
.nav1 a {
    display: flex;
    justify-content:flex-start;
    margin-left: 30px;
    padding: 6px 8px 6px 16px;
    font-size: 24px;
    text-decoration: none;
    color: white;
}
.nav1 a:hover {
    color: black;
}
#aside-box {
    display: flex;
    justify-content: center;
}
.img-hide {
    display: none;
}
.contact-hide {
    display: none;
}
.horizontal-nav {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
}
nav a:nth-last-of-type(2) {
    order: 3;
}
nav a:nth-last-of-type(3) {
    order: 4;
}
/*.nav1 a:first-of-type {
    text-decoration: underline double;
}
.margin-nav {
    margin-top: 200px;
}
.nav-p {
    display: flex;
    justify-content:flex-start;
    margin-left: 20px;
    text-align: center;
    font-size: 16px;
    color: white;
}*/  
.hide-p {
    display: none;
}
@media screen and (min-width: 480px) {  /*tablet*/

}
@media screen and (min-width: 1024px) {
    .nav1 {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 277px;
        background-color: #FF0000;
        font-size: 24px;
        float: left;
        overflow: hidden;
        z-index: 1;
    }
    .nav1 a {
        display: flex;
        justify-content:flex-start;
        margin-left: 30px;
        padding: 6px 8px 6px 16px;
        font-size: 24px;
        text-decoration: none;
        color: white;
    }
    .nav1 a:hover {
        color: black;
    }
    .nav1 img {
        padding-right: 20px;
    }
    .nav1 a:first-of-type {
        text-decoration: underline double;
    }
    .margin-nav {
        margin-top: 200px;
    }
    .nav-p {
        display: flex;
        justify-content:flex-start;
        margin-left: 20px;
        text-align: center;
        font-size: 16px;
        color: white;
    }
}