h2 {
    text-align: center;
    color: white;
}
form {
    width: 90%;
    height: 439px;
    margin-left: 6%;
    background-color: #E5E5E5;
    border-style: none;
}
form input {
    width: 50%;
    border: none;
}
form label {
    font-weight: bold;
    font-size: 15px;
}
fieldset {
    border: none;
}
form textarea {
    width: 255px;
    height: 136px;
    margin-left: 20%;
    border: none;
}
#first-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0; 
    width: 100%;
    height: 40px;
    border: 2px solid #FF0000;
    background-color: #FF0000;
    text-align: center;
}
.first-paragraph {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 7% 0;
    white-space: nowrap;
}
#img-home {
    display: inline;
    width: 50%;
    margin: 0 25%;
}
.home-img-paragraph {
    display:block;
    width: 342px;
    height: 124px;
    margin-top: 17%;
    margin-left: 20%;
    font-style: italic;
}
.center {
    text-align: center
}
.ul-box1 {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    font-weight: bold;
    align-items: flex-start;
}
.ul-box1 li {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
    list-style-type:none;
}
.ul-box1 li p {
    display: inline;
    margin-left: 15px;
    font-size: 32px;
}
.rhombus {
    background: #FF0000;
    width: 15vw;
    height: 15vw;
    margin-bottom: 10%;
    transform: rotate(45deg);
    border-radius: 10px;
}
.func-img {
    display: inline;
    width: 12vw;
    height: 12vw;
    transform: rotate(-45deg);
}
.ul-box2 { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 5%;
}
.ul-box2 li {
    display: block;
}
.ul-box2 img {
    width: 70px;
    height: 80px;
}
.ul-box2 p {
    width: 350px;
    text-align: initial;
    margin-left: 25%;
    font-size: 15px;
}
.ul-box2 li:nth-child(3) p {
    margin-left: 18%;
}
.box2-subtitle {
    margin-left: 4%;
    font-size: 30px;
    font-weight: bold;
}
#info-req {
    width: 90%;
    margin-left: 6%;
    margin-bottom: 0%;
    margin-right: 0;
}
.name-email input {
    display: inline;
    width: 255px;
    height: 33px;
    margin-left: 22%;
}
.radio-text {
    font-size: 14px;
}
#contact-section {
    display: inline-block;
}
#contact-section input{ 
    margin: 0%;
}
.form-text-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#confirm-button {
    margin-left: 18.5%;
    width: 255px;
    height: 40px;
    background-color: #FF0000;
    border-color: #FF0000;
    border-style: none;
    font-size: 14px;
    color: white;
}
.history-box {
    width: 100%;
    margin: 0;
    background-image: url("../assets/Picture-clock.png");
    background-color: white;
    background-position: bottom;
    background-size: cover;
}
.box-year {
    display: inline-block;
    width: 30%;
    margin: 1%;
    font-size: 14px;
    text-align: center;
    color: white;
    vertical-align: middle;
}
.year {
    font-family: 'Rokkitt', serif;
    font-size: 30px;
    vertical-align: top;
    color: black;
}
.history-p {
    height: 366px;
    padding: 10px;
    border: 1px solid rgb(3, 3, 3);
    background: rgba(0, 0, 0, 0.678);
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
}
.contact-container {
    display: flex;
    justify-content: center;
    margin: 20% 0 6% 0;
}
.contact-title {
    font-size: 20px;
}
.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
    background-color: #FF0000;
}
.ul-box3 { 
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 20%;
    margin-top: 18%;
}
.ul-box3 ul {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
}
.ul-box3 li {
    display: flex;
    justify-content: center;
    width: 40%;
    padding: 0;
}
.ul-box3 h3 {
    display: flex;
    font-size: 30px;
    color: #FF0000;
}

@media screen and (min-width: 480px) {
    .ul-box1 {
        margin-left: 8%;
    }
    .func-img {
        display: inline;
        width: 12vw;
        height: 12vw;
    }
    .rhombus {
        width: 13vw;
        height: 13vw;
    }
    .ul-box2 {
        margin-left: 8%;
    }
    .box2-subtitle {
        margin-left: 4%;
        font-size: 32px;
        font-weight: bold;
    }
    .ul-box2 p {
        font-size: 18px;
    }
    form input {
        margin-left: 35%;
    }
    form textarea {
        width: 255px;
        height: 136px;
        margin-left: 20%;
        border: none;
    }
    .name-email input {
        margin-left: 34%;
    }
    .form-text-button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #confirm-button {
        margin-left: 28%;
        width: 255px;
        height: 40px;
        background-color: #FF0000;
        border-color: #FF0000;
        border-style: none;
        font-size: 14px;
        color: white;
    }
    .box-year {
        font-size: 16px;
    }
}
@media screen and (min-width: 1024px) {
    main {
        padding-left: 250px;
        align-items: center;
    }
    form {
        width: 737px;
        height: 439px;
    }
    form label {
        font-size: 22px;
    }
    form textarea {
        width: 255px;
        height: 136px;
        margin-left: 30%;
        border: none;
    }
    .title-box {
        margin: 10% 30%; 
        width: 50%;
        padding: 30px 10px; 
    }
    .first-paragraph {
        margin: 6% 0;
        text-align: center;
    }
    #img-home {
        display: block;
        width: 40%;
        margin: 0 70px 0 0;
    }
    .home-img-paragraph {
        margin: 10% 0 0 0;
    }
    #page1-desktop-wrap {
        display: flex;
        justify-content: center;
    }
    .ul-box1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
        font-size: 32px;
        font-weight: bold;
    }
    .ul-box1 li {
        flex: 1;
        justify-content: flex-start;
        width: 40%;
        padding: 10px 110px;
    }
    .ul-box1 li p {
        padding-left: 5%;
    }
    .rhombus {
        background: #FF0000;
        width: 5.5vw;
        height: 5.5vw;
        transform: rotate(45deg);
        border-radius: 10px;
    }
    .func-img {
        display: inline;
        width: 5vw;
        height: 5vw;
        transform: rotate(-45deg);
    }
    .ul-box2 { 
        flex-direction: row;
        justify-content: center;
        align-content: flex-end;
        padding-left: 150px;
        font-size: 24px;
    }
    .ul-box2 li {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 40%;
        list-style-type:none;
    }
    .ul-box2 p {
        width: 350px;
        text-align: initial;
        font-size: 15px;
        margin: 0;
    }
    .ul-box2 li:nth-child(3) p {
        margin-left: 0
    }
    #info-req {
        width: 59%;
        margin-left: 20%;
    }
    #form-position {
        margin-left: 20%;
    }
    .name-email input {
        position: relative;
        right: 140px;
        width: 255px;
        height: 33px;
        margin-left: 67%;
    }
    .radio-text {
        font-size: 14px;
    }
    #contact-section {
        margin-left: 18%;
    }
    #contact-section input{
        padding-right: 60px;
    }
    #confirm-button {
        margin-left: 42%;
        width: 255px;
        height: 40px;
        border-style: none;
        font-size: 14px;
        color: white;
        overflow: hidden;
    }
    .history-box {
        padding-left: 60px;
    }
    .box-year {
        font-size: 20px;
    }
    .year {
        font-size: 36px;
    }
    .contact-container {
        display: none;
    }
    .ul-box3 { 
        padding-left: 150px;
    }
    }